{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"
            rel="stylesheet"
    />
    {% tailwind_css %}
</head>
<body class="w-full text-[#333333] font-sans m-0 p-0 bg-white">
{% include 'includes/header/header.html' %}

{% include 'includes/slider/slider.html' %}

<main class="flex flex-col gap-y-[50px]">
    {% block content %} {% endblock %}
</main>

{% include 'includes/footer/footer.html' %}

{{categories|json_script:"categories-data" }}
{{categories|json_script:"main-slider-data" }}
{{ products|json_script:"products-data" }}

<script src="{% static 'js/main.js' %}"></script>
<script defer src="{% static 'js/apiService.js' %}"></script>
<script defer src="{% static 'js/productCard.js' %}"></script>
<script defer src="{% static 'js/searchManager.js' %}"></script>
<script defer src="{% static 'js/slider.js' %}"></script>
<script defer src="{% static 'js/categories.js' %}"></script>
</body>
</html>
