{% extends 'base.html' %} {% block content %}

<main class="page-wrapper">
  <section class="products-container">
    <div class="products-container__title">
      <span>Новинки</span>
      <span class="products-container__title-target">Знижки</span>
      <span>Топ продажів</span>
    </div>
    <div class="products"></div>
  </section>

  <section class="button__container">
    <button>Переглянути всі знижки</button>
  </section>

  <section class="description">
    <h2 class="description__title">Lorem ipsum dolor sit amet consectetur</h2>
    <p class="description__text">
      Lorem ipsum dolor sit amet consectetur. Elementum massa pellentesque dui
      enim fames sed sem. Vivamus lobortis enim semper nisl. Non accumsan cursus
      dictum ipsum elementum nec. Quis faucibus lorem est massa bibendum
      fermentum enim vitae sed. Aliquet tincidunt est aliquam viverra est
      sagittis hac dolor. Nec eleifend ac vestibulum non et ornare nunc dapibus.
      Sapien ultrices mi enim quis. Egestas proin posuere mauris in rutrum.
      Lectus faucibus in amet vivamus massa vel sit vulputate. Ultricies
      adipiscing aliquam tellus ut libero. Consequat iaculis consectetur
      fermentum sed non senectus tellus.
    </p>
    <p class="description__text">
      Quis et sed dui suspendisse tincidunt pharetra ipsum. Ac mi posuere
      porttitor sit sed lectus dignissim massa quam. Gravida in gravida et id
      tincidunt. Viverra lectus venenatis montes non nibh est purus. Feugiat
      nulla consectetur facilisis adipiscing purus eu nisi. Senectus gravida
      neque est morbi tristique. Ultricies gravida dui vehicula amet id
      facilisi. Tortor in gravida in magna sagittis morbi. Aliquam consequat eu
      scelerisque suscipit nisl hendrerit interdum malesuada sit. In consectetur
      curabitur est elit. Nam ut varius laoreet ultricies vulputate. Risus nunc
      malesuada diam non massa tellus pretium. Adipiscing metus pellentesque
      sagittis auctor tincidunt nisl.
    </p>
  </section>
</main>

<section class="bottom-showcase"></section>

{% endblock %}
