{% extends 'base.html' %} {% block content %}

<main
        class="flex flex-col gap-y-[35px] px-4 sm:px-8 md:px-14 lg:px-20 xl:px-[120px] 2xl:px-[180px] 3xl:px-[220px] 4xl:px-[260px] py-[20px] sm:py-[30px] md:py-[35px] lg:py-[40px]"
>
    <section class="flex flex-col gap-5">
        <div class="flex justify-center items-center gap-3 sm:gap-4 md:gap-5">
      <span class="text-sm sm:text-base md:text-lg text-gray-400 cursor-pointer"
      >Новинки</span
      >
            <span
                    class="text-sm sm:text-base md:text-lg text-black font-medium underline cursor-pointer"
            >Знижки</span
            >
            <span class="text-sm sm:text-base md:text-lg text-gray-400 cursor-pointer"
            >Топ продажів</span
            >
        </div>

        <div
                id="product-list"
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4"
        >
            {% for product in products %}
            {% include 'includes/product_card/product_card_vertical.html' %}
            {% endfor %}
        </div>
    </section>

    <section class="flex flex-col pt-6 sm:pt-7 md:pt-8">
        {% include 'includes/description/description.html' %}
    </section>
</main>

<section
        class="flex flex-col gap-6 p-4 sm:gap-8 sm:p-6 md:gap-10 md:p-8 lg:gap-12 lg:p-10 xl:gap-14 xl:p-12 2xl:gap-16 2xl:p-16 3xl:gap-20 3xl:p-20 4xl:gap-24 4xl:p-24 5xl:gap-28 5xl:p-32"
>
    {% include "includes/showcase/showcase.html" with side="left" banner=main_slider.0 products=products|slice:":2" %}
    {% include "includes/showcase/showcase.html" with side="right" banner=main_slider.1 products=products|slice:"2:4" %}
</section>
{% endblock %}
