<div class="flex gap-x-2 items-center pl-2 sm:pl-0">
  <!-- Кнопка телефону -->
  <button
    class="transition-transform duration-300 bg-none border-none cursor-pointer hover:scale-110 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-[26px] 4xl:text-[30px] 5xl:text-[34px]"
  >
    <i class="fa-solid fa-phone"></i>
  </button>

  <!-- Мова -->
  <div class="flex items-center gap-x-1">
    <span
      class="text-[10px] sm:text-[12px] md:text-[13px] lg:text-[15px] xl:text-[17px] 2xl:text-[19px] 3xl:text-[24px] 4xl:text-[28px] 5xl:text-[32px]"
    >
      UA
    </span>
    <span
      class="text-[10px] sm:text-[12px] md:text-[13px] lg:text-[15px] xl:text-[17px] 2xl:text-[19px] 3xl:text-[24px] 4xl:text-[28px] 5xl:text-[32px]"
    >
      / en
    </span>
  </div>
</div>

<!-- Лого -->
<div class="flex justify-end items-center w-auto">
  <h2
    class="text-black cursor-pointer text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-[26px] 3xl:text-[30px] 4xl:text-[34px] 5xl:text-[38px]"
  >
    LOGO
  </h2>
</div>
