<section class="slider">
  <div
    data-carousel
    class="relative w-full h-[200px] sm:h-[300px] md:h-[400px] lg:h-[500px] xl:h-[623px] 2xl:h-[700px] 3xl:h-[800px] 4xl:h-[950px] 5xl:h-[1100px]"
  >
    <button
      class="absolute top-1/2 left-[6px] z-20 -translate-y-1/2 bg-white text-[#333] p-[10px] sm:p-[12px] md:p-[14px] lg:p-[15px] rounded-full border-none cursor-pointer hover:bg-[#9999]"
      data-carousel-button="past"
    >
      <i class="fa-solid fa-chevron-left fa-sm sm:fa-lg md:fa-xl lg:fa-2xl"></i>
    </button>

    <button
      class="absolute top-1/2 right-[6px] z-20 -translate-y-1/2 bg-white text-[#333] p-[10px] sm:p-[12px] md:p-[14px] lg:p-[15px] rounded-full border-none cursor-pointer hover:bg-[#9999]"
      data-carousel-button="next"
    >
      <i
        class="fa-solid fa-chevron-right fa-sm sm:fa-lg md:fa-xl lg:fa-2xl"
      ></i>
    </button>

    <ul data-slides class="p-0 m-0 h-full list-none"></ul>
  </div>
</section>
